<div fxLayout="column" fxflex="100%">
    <div>
       <h2> User Information</h2>
    </div>
    <form [formGroup]="userForm">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        <mat-form-field>
            <mat-label>Gender</mat-label>
            <select matNativeControl formControlName="gender">
                <option value="" selected></option>
                <option *ngFor="let gender of ['Male', 'Female']" [value]="gender">
                  {{gender}}
                </option>
              </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Department</mat-label>
            <input matInput formControlName="department" required>
        </mat-form-field>
        <div>
            <button mat-button color="primary" (click)="addNewUser()">Save</button>
        </div>
    </form>
</div>